html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: rgb(0, 9, 22);
  color: #fff;
  font-family:
    "Graphik",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  height: 100vh;
  padding-top: env(safe-area-inset-top, 0);
}

:root {
  --primary-brand: #ffc474;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100%;
  min-height: calc(100vh - env(safe-area-inset-top, 0));
  position: relative;
}

.frame {
  width: 90%;
  padding: 1rem;
  margin: 0rem auto;
  position: relative;
  min-height: calc(100vh - env(safe-area-inset-top, 0));
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 70%;
  }
  .frame {
    max-width: 380px;
  }
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 85%;
  }
  .frame {
    max-width: 750px;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 100%;
  }
}

/*
h1 {
  background: linear-gradient(var(--primary-brand), #6b4b1e);
  background-clip: text;
  color: transparent;
}
*/

h1,
h2 {
  font-family: "Syncopate";
}

h1,
h2,
h3,
h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-brand);
}

.logo {
  font-size: 3rem;
}

.text-gradient {
  background: linear-gradient(#fff, #999);
  background-clip: text;
}

.social-image-link {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 2.7rem;
  height: 2.7rem;
}

img.social-image-link:hover {
  padding: 0.5rem;
  border: 0.1rem solid var(--primary-brand);
}

.cta-1 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: var(--primary-brand);
}

.cta-2 {
  margin-top: 15vh;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  background: linear-gradient(#ccc, #888);
  background-clip: text;
  color: transparent;
}

.cta-xxlg {
  margin-top: 15vh;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(var(--primary-brand), #6b4b1e);
  background-clip: text;
  color: transparent;
}

.flex-spacer {
  flex-grow: 1;
}

.footer {
  width: 100%;
  text-align: right;
}

span.em-word {
  white-space: pre;
  background: linear-gradient(#ff3399, #cc0066);
  background-clip: text;
  color: transparent;
}
span.em-word.white {
  background: none;
  color: #fff;
}
span.em-word.gold {
  background: none;
  color: var(--primary-brand);
}

span.logo-warp {
  font-weight: 300;
  white-space: pre;
}
span.logo-drive {
  font-weight: 700;
  white-space: pre;
}
